#Exercises 1

##Algorithrm

In [ ]:
def sumX(n):
  """
    this fuction is used to find the sum of the following series
      X = 1/(1-2^2) + 1/(1-3^3) +⋯+ 1/(1-n^n)
    input: n - non-negative integer
    output: X
  """
  result = 0
  for i in range(2, n+1):
    result = result + 1/(1-i**i)
  return result

In [ ]:
sumX(2)

-0.3333333333333333

In [ ]:
sumX(5)

-0.37603654285510124

## Analysis

1) Input size $n => T(n)$

2) Basis operator: "/, **, +, -" on line 10

3) Worst cases: no

4) $T(n) = 1+1+...+1 = n$

# Exercise 2

## Algorithrm

In [ ]:
def sumY(m, n):
  """
    this fuction is used to find the sum of the following series
      Y = 1/(1+m) - 1/(1+m^2) + 1/(1+m^3 ) -…+ (-1)^(n+1) * 1/(1+m^n)
    input: n - non-negative integer
    output: Y
  """
  result = 0
  for i in range(1, n+1):
    result = result + (-1)**(i+1) * 1/(1+m**i)
  return result

In [ ]:
sumY(2, 1)

0.3333333333333333

In [ ]:
sumY(3, 2)

0.15

## Analysis

1) Input size $n => T(n)$

2) Basis operator: "/, **, *, +, -" on line 10

3) Worst cases: no

4) $T(n) = 1+1+...+1 = n$

# Exercise 3

## Algorithrm

In [ ]:
def sumZ(n):
  """
    this fuction is used to find the sum of the following series
      Z = 1^3 + 2^3 + 3^3 +⋯+ n^3
    input: n - non-negative integer
    output: Z
  """
  result = 0
  for i in range(1, n+1):
    result = result + i**3
  return result

In [ ]:
sumZ(1)

1

In [ ]:
sumZ(3)

36

## Analysis

1) Input size $n => T(n)$

2) Basis operator: "+, **" on line 10

3) Worst cases: no

4) $T(n) = 1+1+...+1 = n$

# Exercise 4

## Algorithrm

In [ ]:
def fac(n):
    """
    this function is used to compute the factorial of n (n!)
    input: n - non-negative integer
    output: n!
    """
    result = 1
    for i in range(1, n+1):
        result = result * i
    return result

In [ ]:
fac(1)

1

In [ ]:
fac(3)

6

## Analysis

1) Input size $n => T(n)$

2) Basic operation: "*" on line 9

3) Worst cases: no

4) $T(n) = 1 + 1+ + ....+ 1 = n$

# Exercise 5

## Algorithrm

In [ ]:
def check(arr):
  """
    this function is used to check whether all elements in an array are distinct.
    input: arr - an array
    output: if all elements in an array are distinct, return True
            otherwise return False
  """
  arr.sort()
  for i in range(1, len(arr)):
      if arr[i] == arr[i - 1]:
          return False
  return True

In [ ]:
arr1 = [3, 1, 4, 2, 5, 6]
result1 = check(arr1)
print("Are all elements in array1 distinct?", result1)

Are all elements in array1 distinct? True

In [ ]:
arr2 = [3, 1, 4, 2, 5, 2]
result2 = check(arr2)
print("Are all elements in array2 distinct?", result2)

Are all elements in array2 distinct? False

## Analysis

1) Input size $n => T(n)$

2) Basis operator: "==" on line 10

3) Worst cases: The algorithm performs the maximum number of operations when all elements are distinct

4) $T(n) ) is: [ T(n) = O(n \log n) + O(n) = O(n \log n)]$

# Exercise 6

## Algorithrm

In [ ]:
def find_max(arr):
  """
    this function is used to find the maximum element in an array,
    supposing that all elements in the array are unique
    input: arr - an array
    output: maximum element in an array
  """
  if not arr:
    return None
  max_element = arr[0]
  for element in arr[1:]:
    if element > max_element:
      max_element = element
  return max_element

In [ ]:
arr1 = [3, 1, 4, 2, 5, 6]
result1 = find_max(arr1)
print("Maximum element in an array:", result1)

Maximum element in an array: 6

In [ ]:
arr2 = []
result2 = find_max(arr2)
print("Maximum element in an array:", result2)

Maximum element in an array: None

## Analysis

1) Input size $n => T(n)$

2) Basis operator: ">" on line 12

3) Worst cases: The algorithm performs the maximum number of comparisons when the maximum element is at the end of the array.

4) $T(n)=1+1+…+1=n−1≈n$

# Exercise 7

## Algorithrm

In [ ]:
def multiply_matrices(A, B):
    """
      this function is used to find the multiplying (x) two matrices
      input: matrix(A) & matrix(B)
      output: if the number of columns in A is not equal to the number of rows in B raise ValueError
              otherwise return result
    """
    if len(A[0]) != len(B):
        raise ValueError("The number of columns of matrix A must equal the number of rows of matrix B.")
    result = [[0 for _ in range(len(B[0]))] for _ in range(len(A))]
    for i in range(len(A)):
        for j in range(len(B[0])):
            for k in range(len(B)):
                result[i][j] += A[i][k] * B[k][j]
    return result

In [ ]:
A = [[1, 2], [3, 4]]
B = [[2, 0], [1, 2]]
result = multiply_matrices(A, B)
print("Result of multiplying two matrices:")
for row in result:
    print(row)

Result of multiplying two matrices:
[4, 4]
[10, 8]

In [ ]:
A = [[1, 2, 3], [4, 5, 6]]
B = [[7, 8], [9, 10], [11, 12]]
result = multiply_matrices(A, B)
print("Result of multiplying two matrices:")
for row in result:
    print(row)

Result of multiplying two matrices:
[58, 64]
[139, 154]

## Analysis

1) Input size $n , m, p => T(n, m, p)$

2) Basis operator: "*, + " on line 14

3) Worst cases: no

4) $T(n,m) = 1+1+...+1 = n * m * p$

# Exercise 8

## Algorithrm

In [ ]:
def matrix_by_number(A, k):
    """
      this function is used to find the multiplying (x) a matrix with a number
      input: matrix(A) & k, k is number
      output: result of multiplying a matrix with a number
    """
    result = [[0 for _ in range(len(A[0]))] for _ in range(len(A))]
    for i in range(len(A)):
        for j in range(len(A[0])):
            result[i][j] = A[i][j] * k
    return result

In [ ]:
A = [[1, 2, 3], [4, 5, 6]]
k = 2
result = matrix_by_number(A, k)
print("Result of multiplying a matrix with a number: ")
for row in result:
    print(row)

Result of multiplying a matrix with a number:
[2, 4, 6]
[8, 10, 12]

## Analysis

1) Input size $n, m => T(n, m)$

2) Basis operator: "*" on line 10

3) Worst cases: no

4) $T(n) = 1+1+...+1 = n * m$

# Exercise 9

## Algorithrm

In [ ]:
def subtract_matrices(A, B):
    """
      this function is used to find the subtracting (-) two matrices
      input: matrix(A) & matrix(B)
      output: if either the number of rows or the number of columns are not the same between the two matrices raise ValueError
              otherwise return result of subtracting two matrices
    """
    if len(A) != len(B) or len(A[0]) != len(B[0]):
        raise ValueError("The two matrices must have the same size")
    result = [[0 for _ in range(len(A[0]))] for _ in range(len(A))]
    for i in range(len(A)):
        for j in range(len(A[0])):
            result[i][j] = A[i][j] - B[i][j]
    return result

In [ ]:
A = [[5, 6, 7], [8, 9, 10]]
B = [[1, 2, 3], [4, 5, 6]]
result = subtract_matrices(A, B)
print("Result of subtracting two matrices: ")
for row in result:
    print(row)

Result of subtracting two matrices:
[4, 4, 4]
[4, 4, 4]

## Analysis

1) Input size $n, m => T(n, m)$

2) Basis operator: "-" on line 13

3) Worst cases: no

4) $T(n) = 1+1+...+1 = n * m$

# Exercise 10

## Algorithrm

In [ ]:
def add_matrices(A, B):
    """
      this function is used to find the adding  two matrices
      input: matrix(A) & matrix(B)
      output: if either the number of rows or the number of columns are not the same between the two matrices raise ValueError
              otherwise return result of adding two matrices
    """
    if len(A) != len(B) or len(A[0]) != len(B[0]):
        raise ValueError("The two matrices must have the same size")
    result = [[0 for _ in range(len(A[0]))] for _ in range(len(A))]
    for i in range(len(A)):
        for j in range(len(A[0])):
            result[i][j] = A[i][j] + B[i][j]
    return result

In [ ]:
A = [[1, 2, 3], [4, 5, 6]]
B = [[7, 8, 9], [10, 11, 12]]
result = add_matrices(A, B)
print("Result of adding  two matrices: ")
for row in result:
    print(row)

Result of adding  two matrices:
[8, 10, 12]
[14, 16, 18]

## Analysis

1) Input size $n, m => T(n, m)$

2) Basis operator: "+" on line 13

3) Worst cases: no

4) $T(n) = 1+1+...+1 = n * m$